#rendered {
    column-width: 30em;
    column-count: 3;
    column-gap: 2em;
    column-rule-width: 5px;
    column-rule-style: dotted;
    column-rule-color: gray;
    font-size: 70%;
}

.phrase-item {
    line-height: 0.8em;    
}

tr {
    /*height: 0.125em;*/
}

#rendered p {

    line-height: 3em;
    margin: 0;
}

h1, h2 {
    font-size: 90%;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 5ex;
}

.line-0 {
    font-weight: bold;
    color: blue;
}

td {
    padding: 0.3em 0.5em;
}

p > table:first-child {
    margin-left: -0.5em;
}

td.bar {
    border-left: solid 1px gray;
}

.section {
    break-inside: avoid;
}

.Chorus {
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 1em;
}

.Chorus > h2 {
    margin-top: 0.5em;
}
