#rendered {
    column-width: 30em;
    column-count: 5; /* Max number of columns.*/
    column-gap: 2em;
    column-rule-width: 5px;
    column-rule-style: dotted;
    column-rule-color: gray;
    /*font-size: 100%;*/
    margin-left: 0.5em; /* Printing to pdf leaves the first bar out otherwise. */
}

.section {
    break-inside: avoid;
}

