#rendered {
    column-width: 30em;
    column-count: 5; /* Max number of columns.*/
    column-gap: 2em;
    column-rule-width: 5px;
    column-rule-style: dotted;
    column-rule-color: gray;
    font-size: 100%;
    margin-left: 0.5em; /* Printing to pdf leaves the first bar out otherwise. */
}

.measure-block {
    line-height: 0.8em;    
}

tr {
    /*height: 0.125em;*/
}

h1, h2 {
    font-size: 90%;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 5ex;
}



p > table:first-child {
    /*margin-left: -0.5em;*/
}

.section {
    break-inside: avoid;
}

