.spacer {
    display: inline-block;
    width: 1ch;
}

body {
    background-color: lightgray;
}

#rendered {
    margin: auto;
    padding: 2em;
    background-color: white;
}

.right {
    float: right;
}

h1 > .right {
    font-weight: normal;
}

table.measure-block {
    display: inline-table;
    border-collapse: collapse;
}

td {
    padding: 0.5em 0;
}

td.bar {
    border-left: solid 1px black;
    padding-left: 0.5ch;
}

td.bar-2 {
    border-left: dotted 1px gray;
    padding-left: 0.5ch;
}

td.bar-space {
    padding-left: 0.5ch;
}

.bar-end {
    margin-right: 0.5ch;
}


#editing {
    background-color: white;
    margin: 0.5em 0;
    padding: 1em;
}

textarea {
    width: 100%;
    height: 40em;
}

#help {
    display: block;
}

.line-0 {
    font-weight: 600;
    font-family: "Arial", sans-serif;
    color: #101010;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    #rendered {
        margin: 0;
        padding: 0;
    }

    #editing {
	display: none;
    }
    
    textarea {
	display: none;
    }
}

